section.page.error
  h2 Something went wrong
  p
    | Something went wrong somewhere in the middle of the program.  You can
    | try reloading to continue, but if you get a chance, please 
    a(href="mailto:joshua@joshuawise.com") send me mail
    |  with the contents of this message.  Sorry!
  small
    | Specifically, the error was: "
    tt(data-hook="errdesc")
    | "