section.page.searchArtist
  span(data-hook="searchbox")

  h2
    span Search results for &ldquo;
    span(data-hook="query")
    span &rdquo;

  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Artist
    tbody(data-hook="results")

  div(data-hook="pager")
