section.page.setView
  h2(data-hook="date")

  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th #
        th Song
        th Request
    tbody(data-hook="set-contents")
