form.form-horizontal
  div.input-group
    input.form-control(data-hook="query",id="query",placeholder="Search for...")
    .input-group-btn
      button.btn.btn-default(data-hook="artist",onclick="return false") Search artists
      button.btn.btn-default(data-hook="songs",onclick="return false") Search songs
      button.btn.btn-default(data-hook="sets",onclick="return false") Search sets
