form.form-horizontal
  div.input-group
    input.form-control(data-hook="query",id="query",placeholder="Search for...")
    .input-group-btn
      button.btn.btn-default(data-hook="artist") Search artists
      button.btn.btn-default(data-hook="songs") Search songs
      button.btn.btn-default(data-hook="sets") Search sets
