body
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        a.navbar-brand(href='#set/latest') dgbrowser
      ul.nav.navbar-nav
        li
          a(href="#set/latest") most recent
        li
          a(href="#search") search
        li
          a(href="#info") about
  .container
    main(data-hook="page-container")
