body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') deathguild.js
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="/set/latest") most recent
        li
          a(href="/search") search
        li
          a(href="/set") all sets
  .container
    main(data-hook="page-container")
