.samplebox { float: right; }
.samplebox ul {
  list-style-type: none;
  border-bottom: 1px solid;
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  
  /* And behave like a UI element.
   * Remind me how this mess is better than the old days?
   */
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}
.samplebox ul li { border: 1px solid; border-bottom: 0px; padding: 0.25em; background: #F0F0F0; }
.samplebox ul li:hover { background: #E0E0E0; }
.samplebox ul li:active { background: #D0D0D0; }
.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0px; margin: 0px;
  background: #dddddd;
}
#spinner {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.3);
}
#spinner > div {
  margin: auto;
  top: 50%;
}

#tabbar ul {
  overflow: auto;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  border-right: 1px solid #000000;
  
  /* And behave like a UI element.
   * Remind me how this mess is better than the old days?
   */
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}
#tabbar ul li {
  float: left;
  border: 1px solid #000000;
  border-right: 0px;
  padding: 0.25em;
  background: #F0F0F0;
}
#tabbar ul li:last-child {
  border-right: 1px solid #000000;
}
#tabbar ul li:hover { background: #E0E0E0; }
#tabbar ul li:active { background: #D0D0D0; }
#tabbar ul li.current { background: #E0E0FF; }
#tabbar ul li.current:hover { background: #D8D8F0; }

body {
  padding: 7px;
}

td,
th {
  padding: 3px;
}
